<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Welcome to IPO Notifier</title>
    <style>
      /* Neomorphism Styles */
      body {
        background-color: #ededed;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }

      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #ededed;
        border-radius: 10px;
        box-shadow: 8px 8px 16px #d1d1d1, -8px -8px 16px #ffffff;
      }

      .logo {
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
      }

      h1 {
        text-align: center;
        color: #4caf50;
        margin-top: 0;
        margin-bottom: 20px;
      }

      p {
        margin-bottom: 20px;
        color: #444;
      }

      .button-container {
        text-align: center;
      }

      .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #006400;
        color: #fff;
        text-decoration: none;
        border-radius: 10px;
        margin-top: 20px;
        transition: transform 0.3s ease;
        box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1);
      }

      .button:hover {
        transform: translate(0px, -2px);
        box-shadow: 6px 8px 14px rgba(0, 0, 0, 0.2);
      }

      .button-Image {
        vertical-align: bottom;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <img
          src="https://res.cloudinary.com/ddskth9s2/image/upload/c_pad,b_auto:predominant,fl_preserve_transparency/v1688231664/IPO%20Notifier/ipoNotifier_gx7cfo.jpg"
          alt="IPONotifier"
          width="300px"
        />
      </div>
      <h1 style="margin-bottom: 50px">
        Welcome to IPO Notifier, <br /><span style="font-weight: normal"
          ><%= subscriberName %></span
        >!
      </h1>
      <p>
        Thank you for subscribing to our newsletter! We’re thrilled to keep you
        in the loop about the latest IPOs in the Nepal share market.
      </p>
      <p>
        Every <strong>Wednesday</strong> and <strong>Saturday</strong>, we’ll
        send you an email with the latest IPOs so you can stay ahead of the
        game! 😎
      </p>
      <p>
        If you have any questions, suggestions, or feedback, we'd love to hear
        from you. Your input is valuable to us!
      </p>

      <div style="text-align: center">
        <a href="https://www.lalityadav.com.np" class="button">
          <img
          class="button-Image"
            src="https://res.cloudinary.com/ddskth9s2/image/upload/c_pad,b_auto:predominant,fl_preserve_transparency/v1688271707/IPO%20Notifier/flogoL_lt9e6x.jpg"
            width="100px"
            alt="Logo"
          />
        </a>
      </div>

      <p>Stay tuned for upcoming IPO announcements!</p>
      <p>Best regards,</p>
      <p>IPO Notifier</p>
    </div>
  </body>
</html>
